<!--TODO put multiple cover images that keep changing-->

<% if !logged_in? %>
    <div id="wrapper" class="row">
      <div class="container" id="punch-text">
        <div class="col s7">
          <h2>Make something </h2>
          <p>Go out, look around, find something to do, <em>make</em> something.</p>
        </div>
      </div>
    </div>
<% end %>

<div class="container flash-messages">
  <div class="row">
    <div class="container ">
      <!--DOC: This is used to render any type of error or alert messages-->
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
      <% end %>
    </div>
  </div>
</div>