<div class="container">
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li>
          <%= link_to 'MakerDen', root_path, id: 'name' %>
        </li>
        <li class="navbar-item">
          <%= link_to 'Join Now', '#', class: 'navbar-link' %>
        </li>
        <li class="navbar-item">
          <%= link_to 'Log In', '#', class: 'navbar-link' %>
        </li>
      </ul>
    </div>
  </nav>
</div>