<!--TODO Put a cover image or color-->

<header>
  <div class="container">
    <div class="three columns">
      <%= link_to 'MakerDen', root_path, id: 'name', class: 'u-pull-left' %>
    </div>
    <div class="nine columns">
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <%= link_to 'Join Now', '#', class: 'navbar-link' %>
          </li>
          <li class="navbar-item">
            <%= link_to 'Log In', '#', class: 'navbar-link' %>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="seven columns">
        <h2>Make something </h2>
        <p>Go out, look around, find something to do, <em>make</em> something.</p>
      </div>
    </div>
  </div>
</header>