<% provide :title, 'Topics' %>
<div class="container flash-messages">
  <div class="row">
    <div class="container ">
      <!--DOC: This is used to render any type of error or alert messages-->
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<% if @topic_feed.any? %>

    <%= will_paginate @topic_feed %>
    <ol>
      <%= render @topic_feed %>
    </ol>
<% end %>