
.pagination a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    color: #444;
}

.pagination a li{
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    color: #444;
}
