@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
// TODO move the navbar styles out into the general area
header {
  background-color: #EFEFEF;
}

//Alert styles
.alert {
  color: #555;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: FontAwesome;
  padding: 10px 10px 10px 10px;
  margin: 10px;
}

.alert-danger {
  @extend .alert;
  background: #ffecec;
  border: 1px solid #f5aca6;
}

.alert-success {
  @extend .alert;
  background: #e9ffd9;
  border: 1px solid #a6ca8a;
}

.alert-warning {
  @extend .alert;

  background: #fff8c4;
  border: 1px solid #f2c779;

}

.alert-notice {
  @extend .alert;
  background: #e3f7fc;
  border: 1px solid #8ed9f6;
}

#wrapper {
  background: url("BingWallpaper-2015-07-31.jpg") top center;
  background-size: cover;
  width: 100%;
  min-height: 680px;
}

#punch-text {
  padding-top: 15rem;
  font-size: 3rem;
  color: #ffffff;
}

#form-placement {
  padding: 15rem;
}

.text-box-style {
  width: 100%;
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  #name {
    position: relative;
    text-transform: uppercase;
    font-family: 'Rock Salt', cursive;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
  .navbar-spacer {
    display: none;
  }

  .navbar, .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #EFEFEF;
    //z-index: 99;
    border: 0px solid #eee;

  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }

  .navbar-item {
    position: relative;
    float: right;
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
  #name {
    position: relative;
    text-transform: uppercase;
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
  .navbar-spacer {
    display: none;
  }

  .navbar, .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #EFEFEF;
    z-index: 99;
    border: 0px solid #eee;
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }

  .navbar-item {
    position: relative;
    float: right;
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  #name {
    position: relative;
    text-transform: uppercase;
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
  .navbar-spacer {
    display: none;
  }

  .navbar, .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #EFEFEF;
    //z-index: 99;
    border: 0px solid #eee;
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }

  .navbar-item {
    position: relative;
    float: right;
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #name {
    position: relative;
    text-transform: uppercase;
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
  .navbar-spacer {
    display: none;
  }

  .navbar, .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #EFEFEF;
    z-index: 99;
    border: 0px solid #eee;
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }

  .navbar-item {
    position: relative;
    float: right;
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
}